@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.col, .row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gutter-x) * -0.5);
  margin-right: calc(var(--grid-gutter-x) * -0.5);
  margin-top: calc(-1 * var(--grid-gutter-y));
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.row-cols-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}

.row-cols-9 > * {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.row-cols-10 > * {
  flex: 0 0 auto;
  width: 10%;
}

.row-cols-11 > * {
  flex: 0 0 auto;
  width: 9.0909090909%;
}

.row-cols-12 > * {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offsets-0 {
  margin-left: 0;
}

.offsets-1 {
  margin-left: 8.3333333333%;
}

.offsets-2 {
  margin-left: 16.6666666667%;
}

.offsets-3 {
  margin-left: 25%;
}

.offsets-4 {
  margin-left: 33.3333333333%;
}

.offsets-5 {
  margin-left: 41.6666666667%;
}

.offsets-6 {
  margin-left: 50%;
}

.offsets-7 {
  margin-left: 58.3333333333%;
}

.offsets-8 {
  margin-left: 66.6666666667%;
}

.offsets-9 {
  margin-left: 75%;
}

.offsets-10 {
  margin-left: 83.3333333333%;
}

.offsets-11 {
  margin-left: 91.6666666667%;
}

.offsets-12 {
  margin-left: 100%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-sm-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-sm-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-sm-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-sm-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-sm-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-sm-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offsets-sm-0 {
    margin-left: 0;
  }
  .offsets-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offsets-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offsets-sm-3 {
    margin-left: 25%;
  }
  .offsets-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offsets-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offsets-sm-6 {
    margin-left: 50%;
  }
  .offsets-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offsets-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offsets-sm-9 {
    margin-left: 75%;
  }
  .offsets-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offsets-sm-11 {
    margin-left: 91.6666666667%;
  }
  .offsets-sm-12 {
    margin-left: 100%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-md-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-md-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-md-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-md-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-md-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-md-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offsets-md-0 {
    margin-left: 0;
  }
  .offsets-md-1 {
    margin-left: 8.3333333333%;
  }
  .offsets-md-2 {
    margin-left: 16.6666666667%;
  }
  .offsets-md-3 {
    margin-left: 25%;
  }
  .offsets-md-4 {
    margin-left: 33.3333333333%;
  }
  .offsets-md-5 {
    margin-left: 41.6666666667%;
  }
  .offsets-md-6 {
    margin-left: 50%;
  }
  .offsets-md-7 {
    margin-left: 58.3333333333%;
  }
  .offsets-md-8 {
    margin-left: 66.6666666667%;
  }
  .offsets-md-9 {
    margin-left: 75%;
  }
  .offsets-md-10 {
    margin-left: 83.3333333333%;
  }
  .offsets-md-11 {
    margin-left: 91.6666666667%;
  }
  .offsets-md-12 {
    margin-left: 100%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-lg-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-lg-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-lg-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-lg-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-lg-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-lg-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offsets-lg-0 {
    margin-left: 0;
  }
  .offsets-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offsets-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offsets-lg-3 {
    margin-left: 25%;
  }
  .offsets-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offsets-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offsets-lg-6 {
    margin-left: 50%;
  }
  .offsets-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offsets-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offsets-lg-9 {
    margin-left: 75%;
  }
  .offsets-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offsets-lg-11 {
    margin-left: 91.6666666667%;
  }
  .offsets-lg-12 {
    margin-left: 100%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-xl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-xl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-xl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-xl-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-xl-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offsets-xl-0 {
    margin-left: 0;
  }
  .offsets-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offsets-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offsets-xl-3 {
    margin-left: 25%;
  }
  .offsets-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offsets-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offsets-xl-6 {
    margin-left: 50%;
  }
  .offsets-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offsets-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offsets-xl-9 {
    margin-left: 75%;
  }
  .offsets-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offsets-xl-11 {
    margin-left: 91.6666666667%;
  }
  .offsets-xl-12 {
    margin-left: 100%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

/* common */
a {
  text-decoration: none;
}

input,
select {
  font-family: inherit;
  background: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Thay 'white' bằng màu nền mong muốn */
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; /* Màu chữ */
}

.btn {
  padding: 16px 37px;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
  background: #5d3bee;
  white-space: nowrap;
}

.dn {
  display: none;
}

.btn:hover {
  opacity: 0.9;
}

.desc {
  color: #51586a;
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
}

.title {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.17; /* 117.857% */
}

.container-1330 {
  width: 100%;
  max-width: 1330px;
}

.header__inner {
  margin-top: 47px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .icon-logo {
  margin-left: 134px;
  width: 100px;
}
.header__inner .header-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__inner .parent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 1px solid #d7ceff;
  border-radius: 50%;
}
.header__inner .group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__inner .mail-link {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36; /* 136.364% */
  text-decoration-line: underline;
}
.header__inner .item-link {
  color: #51586a;
  font-size: 1.8rem;
}
.header__inner .item-link:hover {
  text-shadow: 1px 0px #51586a;
}

.navbar {
  width: 100%;
  max-width: 392px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100vh;
}
.hero__inner .hero-right {
  width: 42.7%;
}
.hero__inner .hero-group {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__inner .hero-group .hero-group__link:nth-child(2) {
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
  text-decoration-line: underline;
  white-space: nowrap;
}
.hero__inner .hero-info {
  gap: 15px;
  margin-top: 109px;
}
.hero__inner .hero-info__title {
  color: #51586a;
  font-weight: 500;
  line-height: 1.87; /* 187.5% */
}
.hero__inner .title {
  width: min(500px, 100%);
  font-size: 8rem;
  line-height: 0.95; /* 95% */
  letter-spacing: -3.2px;
}
.hero__inner .desc {
  margin: 20px 0 50px;
  width: min(370px, 100%);
}
.hero__inner .hero-left {
  width: 43.9%;
}
.hero__inner .hero-img {
  width: 100%;
}

.trusted .trusted__inner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trusted .title {
  margin-left: 99px;
  position: relative;
  width: 253px;
  font-size: 4.2rem;
  line-height: 1.19; /* 119.048% */
  letter-spacing: -1.68px;
}
.trusted .title::after {
  position: absolute;
  top: 22px;
  left: -99px;
  content: "";
  width: 86px;
  height: 2px;
  background: #5d3bee;
}
.trusted .trusted__group {
  margin-top: -34px;
  width: 100%;
  max-width: 713px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trusted .trusted__group--child {
  margin-top: 34px;
  width: 100%;
  max-width: 173px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.service {
  margin: 140px 0;
}
.service .service__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service .title {
  margin-bottom: 20px;
  letter-spacing: -2.24px;
}
.service .desc {
  width: 100%;
  max-width: 534px;
  text-align: center;
}
.service .service-card {
  padding: 33px 42px 32px 43px;
}
.service .card-icon {
  position: relative;
  display: block;
  height: 74px;
}
.service .card-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.service .card-desc {
  text-align: left;
}
.service .service-card:nth-child(1) .icon {
  top: 5px;
  left: 0px;
}
.service .service-card:nth-child(3) .icon {
  top: 10px;
  left: 0px;
}
.service .service-card:nth-child(2) .icon {
  top: 25px;
  left: 25px;
}
.service .card-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #080415;
  border-radius: 50%;
  opacity: 0.05;
}
.service .card-title {
  margin: 22px 0 15px;
  font-size: 3.2rem;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.service .arrow-group {
  display: none;
}

.works {
  padding: 86px 0;
  background: #5d3bee;
}
.works .works__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works .work-bottom--card,
.works .work-on {
  display: flex;
}
.works .work-bottom--card {
  padding: 23px 23px 23px 34px;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.works .work-on--title {
  margin-bottom: 70px;
  width: 100%;
  max-width: 468px;
  color: #fff;
  letter-spacing: -2.24px;
}
.works .work-on--desc {
  margin-top: 31px;
  width: 100%;
  max-width: 370px;
  color: #fff;
}
.works .card-title {
  font-size: 3.2rem;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.works .card-desc {
  margin: 10px 0 20px;
  width: 100%;
  max-width: 220px;
  line-height: 1.43; /* 143.75% */
}
.works .card-link {
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
  text-decoration-line: underline;
}
.works .card-img {
  width: 43.1%;
  height: 76%;
}
.works .card-img .img {
  width: 100%;
  object-fit: cover;
}
.works .works-btn {
  margin-top: 80px;
  color: #080415;
  background: #fff;
}

.about {
  padding-top: 140px;
}
.about .about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .title {
  margin: 10px 0 15px;
  letter-spacing: -2.24px;
}
.about .desc {
  width: min(570px, 100%);
  text-align: center;
}
.about .about-group {
  position: relative;
  display: flex;
}
.about .about-group .title {
  padding-right: 9px;
  color: #5d3bee;
  font-size: 3.2rem;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.about .about-group:nth-child(4) {
  margin: 90px 0;
  width: 100%;
  max-width: 708px;
  justify-content: space-between;
}
.about .about-group:nth-child(4)::after {
  position: absolute;
  top: -20px;
  left: -50%;
  transform: translate(25%);
  content: "";
  width: 136%;
  height: 0px;
  border: 1px solid #080415;
  opacity: 0.2;
}
.about .about-group:nth-child(4)::before {
  position: absolute;
  left: -50%;
  transform: translate(25%);
  bottom: -20px;
  content: "";
  width: 136%;
  height: 0px;
  border: 1px solid #080415;
  opacity: 0.2;
}
.about .about-group--value {
  color: #080415;
  font-family: "DM Sans";
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.35; /* 135.714% */
  letter-spacing: 1.68px;
  text-decoration-line: underline;
}
.about .about-video {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 628px;
}
.about .about-video .video {
  width: 100%;
  object-fit: cover;
}
.about .about-video .action-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 43px;
  background: #ffffff;
  backdrop-filter: blur(12px);
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;
}
.about .about-video .action-group:active {
  opacity: 0.5;
}
.about .about-video .action-group--play {
  color: #5d3bee;
}
.about .about-video .about-video--tag {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 16px 29px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
  background: #fff;
}

.testimonial {
  padding: 150px 0 74px;
}
.testimonial .testimonial__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial .title {
  letter-spacing: -2.24px;
}
.testimonial .desc {
  margin-top: 20px;
  text-align: center;
}
.testimonial .testimonial-group--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial .testimonial-group--item .desc {
  margin-top: 60px;
  text-align: center;
  font-size: 2.4rem;
}
.testimonial .frame-avt {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 39.833px;
  height: 39.833px;
  background: orange;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial .frame-avt .avt {
  object-fit: cover;
}
.testimonial .info-group {
  margin: 36px 0 40px;
}
.testimonial .info-group--info {
  color: #51586a;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.81; /* 181.25% */
}
.testimonial .group-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.testimonial .arrow-group {
  display: flex;
}

.arrow-group {
  gap: 20px;
}
.arrow-group .arrow-item {
  position: relative;
}
.arrow-group .label {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}
.arrow-group .label::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #cecdd0;
  border-radius: 50%;
}
.arrow-group .label::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #5d3bee;
  border-radius: 50%;
  opacity: 0;
}
.arrow-group input:checked ~ .label::after {
  background: #5d3bee;
  opacity: 1;
}
.arrow-group input:checked ~ .label::before {
  opacity: 1;
}

.faq_title {
  width: min(575px, 100%);
  letter-spacing: -2.24px;
}

.faq {
  padding-top: 95px;
}
.faq .faq__inner {
  width: min(1010px, 100%);
}
.faq .faq-group {
  margin-top: 80px;
}
.faq .question {
  padding-bottom: 23px;
  font-size: 3.2rem;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.faq .reply {
  width: min(487px, 100%);
  display: none;
  transition: all 1s;
}
.faq .faq-item {
  margin-top: 60px;
  padding-bottom: 23px;
  position: relative;
}
.faq .faq-item__before {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background: #08182f;
}
.faq .show {
  position: absolute;
  top: 12px;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px #d4d5d5 solid;
}
.faq .show::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "+";
  font-size: 2.5rem;
}
.faq input:checked ~ .show::after {
  content: "-";
  color: #5d3bee;
}
.faq input:checked ~ .reply {
  display: block;
}
.faq input:checked ~ .title {
  color: #5d3bee;
}
.faq input:checked ~ .faq-item__before {
  background: #5d3bee;
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  letter-spacing: -2.24px;
}

.gallery-desc {
  margin: 20px 0 30px;
  width: min(528px, 100%);
  text-align: center;
}

.gallery-link {
  margin-bottom: 70px;
  color: #5d3bee;
  font-family: "DM Sans";
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  text-decoration-line: underline;
}

.arrow-group {
  display: none;
}

.gallery-card .gallery-img {
  width: 100%;
  object-fit: cover;
}

.cta__inner {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.cta__inner .desc {
  width: min(528px, 100%);
  text-align: center;
}

.footer__inner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__inner .icon-logo {
  margin-left: 134px;
  width: 100px;
}
.footer__inner .footer-list {
  display: flex;
  justify-content: space-between;
}
.footer__inner .parent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 1px solid #d7ceff;
  border-radius: 50%;
}
.footer__inner .footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__inner .mail-link {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36; /* 136.364% */
  text-decoration-line: underline;
}
.footer__inner .item-link {
  color: #51586a;
  font-size: 1.8rem;
}
.footer__inner .item-link:hover {
  text-shadow: 1px 0px #51586a;
}

.footer__inner::after {
  display: block;
  position: absolute;
  bottom: -71px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #51586a;
}

.footer {
  padding: 20px 0;
}
.footer .group-link {
  display: flex;
  justify-content: space-between;
}

.footer-group.group-link {
  margin-top: 80px;
}
.footer-group.group-link .group-link:nth-child(2) .desc:nth-child(1) {
  padding-right: 23px;
}
.footer-group.group-link .group-link:nth-child(2) .desc:nth-child(2) {
  position: relative;
  padding-left: 13px;
}
.footer-group.group-link .group-link:nth-child(2) .desc:nth-child(2)::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  height: 14px;
  width: 2px;
  background: #51586a;
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: calc(100% - 40px);
  }
  .desc,
  .btn,
  a {
    font-size: 1.6rem;
  }
  .btn {
    padding: 12px 31px;
  }
  .container .title {
    font-size: 3.6rem;
  }
  .container .desc {
    font-size: 1.6rem;
  }
  .drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    padding: 35px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #ccc;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
  .drawer .item-link {
    display: block;
    color: #fff;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 0;
  }
  .drawer .item-link:active {
    background: rgba(204, 204, 204, 0.8);
  }
  .drawer .label-drawer {
    position: absolute;
    top: 35px;
    right: 35px;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 5px 0 5px auto;
  }
  .drawer .label-drawer .icon {
    font-weight: 200;
  }
  .drawer .icon-logo {
    display: block;
    margin: 0 auto;
    width: 60px;
  }
  .show-drawer:checked ~ .drawer {
    transform: translateY(0);
  }
  .show-drawer:not(:checked) ~ .overlay {
    opacity: 0;
    visibility: hidden;
  }
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    transition: all 0.3s;
  }
  .hero__inner .title {
    font-size: 4.2rem !important;
  }
  .header .header__inner .mail-link,
  .header .navbar {
    display: none;
  }
  .header .header__inner {
    margin-top: 20px;
    justify-content: inherit;
  }
  .header .icon-logo {
    margin-left: -17px;
    width: 57px;
    order: 1;
  }
  .header .group-header {
    order: 2;
    justify-self: end;
    margin-left: auto;
  }
  .header .group-header .parent-icon {
    width: 32px;
    height: 32px;
  }
  .header .show-mobile-tablet {
    display: block;
    order: 3;
    margin-left: 10px;
  }
  .header .header__inner::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #d6d3e2;
  }
  .hero {
    padding-top: 50px;
  }
  .hero .hero__inner {
    flex-direction: column-reverse;
    height: auto;
    align-items: start;
  }
  .hero .hero__inner > * {
    width: 100%;
  }
  .hero .hero-info__title {
    white-space: nowrap;
  }
  .hero .hero-right .desc {
    margin-bottom: 30px;
  }
  .hero .hero-info {
    margin-top: 25px;
  }
  .hero .hero-img {
    display: block;
    margin: 0 auto;
    width: calc(100% - 90px);
  }
  .trusted .trusted__inner {
    flex-direction: column;
  }
  .trusted .trusted__inner .title {
    margin-left: 0;
    text-align: center;
    margin-bottom: 42px;
  }
  .trusted .trusted__inner .title::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .service .service__inner {
    align-items: inherit;
  }
  .service .service__inner > .desc,
  .service .service__inner .title {
    align-self: center;
  }
  .service .service-list {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .service .service-card {
    padding: 29px 50px;
  }
  .service .arrow-group {
    display: flex;
    align-self: center;
  }
  .works {
    padding: 69px 0 60px;
  }
  .works .work-on {
    flex-direction: column;
    align-items: center;
  }
  .works .work-on > * {
    text-align: center;
    margin: 0;
  }
  .works .work-on .title {
    margin-bottom: 20px;
  }
  .works .works-btn {
    margin-top: 50px;
  }
  .works .work-bottom--list {
    margin-top: 60px;
  }
  .works .card-title {
    font-size: 2.4rem;
  }
  .works .card-img .img {
    min-width: 122px;
  }
  .works .work-bottom--card {
    padding: 20px 15px;
  }
  .gallery {
    padding-top: 120px;
  }
  .gallery .gallery-list {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .gallery .gallery-link {
    font-size: 2rem;
  }
  .gallery .arrow-group {
    display: flex;
    margin-top: 40px;
  }
  .about {
    padding-top: 120px;
  }
  .about .about__inner > .desc {
    text-align: center;
  }
  .about .about-group:nth-child(4)::after,
  .about .about-group:nth-child(4)::before {
    width: 100%;
    left: 0;
    transform: translate(0);
  }
  .about .about-group--value {
    font-size: 3rem;
  }
  .about .desc {
    text-align: left;
  }
  .about .action-group {
    padding: 20px !important;
  }
  .about .about-video--tag {
    padding: 7px 21px !important;
  }
  .about .about-group .title {
    font-size: 2rem;
  }
  .about .about-group:nth-child(4) {
    margin: 80px 0 70px;
  }
  .testimonial {
    padding: 121px 0 67px;
  }
  .testimonial .testimonial-group--item .desc {
    font-size: 1.8rem;
  }
  .testimonial .arrow-group {
    display: flex;
  }
  .faq .faq-item {
    margin-top: 42px;
  }
  .faq .faq-item .title {
    max-width: 264px;
    font-size: 2.4rem;
  }
  .faq .show {
    width: 33px;
    height: 33px;
  }
  .footer .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer .icon-logo {
    order: 1;
    margin: 0;
  }
  .footer .footer-group {
    order: 3;
  }
  .footer .navbar {
    order: 2;
    width: 100%;
    margin: 20px 0 58px;
  }
  .footer .footer-list {
    gap: 0;
  }
  .footer .container:last-child > .group-link {
    flex-direction: column-reverse;
    align-items: center;
    gap: 49px;
  }
  .footer .footer__inner::after {
    bottom: -136px;
  }
  .footer .desc {
    white-space: nowrap;
  }
  .footer .container:last-child {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
